img {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
    width: 80%;
    padding-left: 20px;
}

input, select, textarea {
    margin-bottom: 15px;
}

.red {
    color: red;
}